    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
            font-family: "Verdana", Tahoma, sans-serif;
            font-size: 8pt;
            margin-left: 20%;
            margin-right: 20%;
            text-align: justify;
            background: ivory;
            background-image: url('assets/background.png');
            color: red;
        }

    .banner {
            display: block;
            width: 100%;
            height: 200px;
            background-image: url('assets/banner.png');
            background-size: cover;
            background-position: center;
        }

    